<div class="container">
<div>
  <img class="center portrait" src="assets/img/myface.jpg" style="width:15%"/>
</div>
<div class="section">
  <span>Hey! I'm Alex Broekhuyse. I'm a 21 year-old studying Computer Science at Western University.
  I'm also a varsity track and cross country athlete, mountain bike and play iRacing when I'm bored, and make
  a mean spicy butter chicken.
  </span>
</div>
<div class="section">
  <span>I'm interested in working at Port 443 Inc. for a number of reasons. I believe I'm someone with competence
    (and work experience) in the areas specified in the job listing, which I feel would make me a good candidate and
    someone who you don't need to train every step of the way (although I'm not afraid to ask questions or admit
    that I've made a mistake). Port 443's products also interest me, especially AthletaDesk - being a collegiate
    athlete myself, I have a pretty good understanding of how this service should operate and how to make it better.
    Since I would be a summer student, I also think that a team size of 13 is small enough to get to know everyone in
    a short period of time and really feel connected to both team and project.
  </span>
</div>
</div>
